body {
    font-family: 'Vazir' , Vazir , Tahoma , Arial ,sans-serif !important;
    font-size: .875rem;
    font-weight: 300;
}

#object {
    margin-top: 20px;
    font-size: 26px;
}

.ex {
    margin-top: 30px;
}
