
<%- include('header'); -%>
<div class="container">
    <div class="d-flex justify-content-center">
        <h2>ثبت نام با موفقیت انجام شد</h2>
    </div>

    <div class="d-flex justify-content-center">
        <h3>در حال هدایت به صفحه اصلی</h3>
    </div>

</div>
<%- include('footer'); -%>